/* .modal-content{
    box-shadow: 0px 0 30px rgba(1, 41, 112, 0.1);
    border: none;
}

.modal-header{
        border-bottom: none;
        padding-bottom: 0;
        padding-top: 15px;
        padding-right: 15px;
}

.modal-footer{
    border-top: none;
}

.modal-dialog-centered{
    justify-content: center;
} */